.footer {
  width: 100%;
  height: $footerHeight;
  background-color: var(--color-dark);
  display: flex;
  justify-content: center;
  align-content: center;

  &_nav {
    width: 25rem;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;

    &-item {
      font-size: 1rem;
      font-weight: 500;
      color: var(--color-white);
      text-shadow: 0.1rem 0.2rem 0.2rem rgba(0,0,0,0.5);
    }
  }
}
