.dashboard {
  width: 100%;
  height: $mainHeight;
  background-color: var(--color-primary-dark);
  padding: 0.5rem 5rem;

  display: grid;
  grid-gap: 1rem;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: [full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] 1fr [full-end];

  & > div {
    background-color: var(--color-white);
    box-shadow: 0.3rem 0.3rem 0.4rem rgba(0,0,0,0.6);
  }

  &_contactsbox {
    grid-column-start: 6;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 3;

    display: flex;
    flex-direction: row;

    @include respond(tablet-bg) {
      grid-column-start: 2;
      grid-column-end: 12;
      grid-row-start: 1;
      grid-row-end: 2;
    }

    &-image {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      flex: 1;

      img {
        max-width: 100%;
        max-height: 20rem;
      }
    }

    &-content {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      flex: 1;
      padding: 4rem 6rem;

      h2 {
        font-size: 1.6rem;
      }

      p {
        font-size: 1.2rem;
      }
    }
  }

  &_alertsbox {
    grid-column-start: 6;
    grid-column-end: 11;
    grid-row-start: 3;
    grid-row-end: 6;

    @include respond(tablet-bg) {
      grid-column-start: 2;
      grid-column-end: 12;
      grid-row-start: 5;
      grid-row-end: 7;
    }
  }

  .title {
    font-size: 2rem;
    padding-left: 2rem;
    color: var(--color-white);
    text-shadow: 0.2rem 0.2rem 0.3rem rgba(0,0,0,0.4);

    @include respond(tablet-bg) {
      font-size: 3.5rem;
    }
  }

}
